* {
    box-sizing: border-box;
}

html body {
    text-align: center;
    padding: 2rem;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjciIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMDAwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuNCI+PC9yZWN0Pgo8L3N2Zz4=");
}

.tribute {
    grid-area: main;
    font-size: 2em;
    padding: 1em;
    color:#f1e140;
    font-family: 'Staatliches', cursive;
}

.title {
    grid-area: title;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 8em;
    color: #f1e140;
}

.img-div {
   width: 100%;
   text-align: center;

}

.iframe {
    padding: 2rem;
}

.link {
    text-align: center;
    color: #f1e140;
    font-size: 2em;
    font-family: 'Anton', sans-serif;
}
